h2 {background-color: black; color: white;}
table {
    caption-side: bottom;
    border: 1px solid #222;
    border-collapse: collapse;
    width: 30%;
}
td,th {border: 1px dotted #222;
    padding: 10px;
text-align: center;}